# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/key.properties
android/**/*.jks

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# IDE
.idea/
.vscode/
*.iml

# Miscellaneous
*.log
*.pyc
.DS_Store
.env
.env.*
